{{>header }}

<div class="find-book">
    <form class="d-flex find-book-form">
        <div class="error-msg"></div>
        <input class="form-control me-2 search-input" type="search" placeholder="Enter name of the book" name="search"
            aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
</div>

{{> footer}}