{{> header}}
<div class="back-link"><a href="/">Back to Home</a></div>
<div class="container">
    <form class="books-form">
        <section class="list-options">
            <h4>Choose age appropriateness</h4>
            <div class="choose-options-books">
                <input type="radio" name="age_type" class="form-check-input age_type" value="children" checked />
                For
                Children
                <br />
                <input type="radio" name="age_type" class="form-check-input age_type" value="adults" /> Adults Only
                <br />
                <input type="radio" name="age_type" class="form-check-input age_type" value="all" /> Any Age <br />
            </div>
        </section>
        <section class="genres-list align-left">
            <h4>Choose one or more genres</h4>
            <ul class="list-options">
                {{#each genres as |genre|}}
                <li>
                    <input type="checkbox" class="form-check-input" name="{{genre.genre_title}}" value="{{genre.id}}" />
                    {{genre.genre_title}}
                </li>
                {{/each}}
            </ul>
            <div class="error-msg"></div>
        </section>
        <section class="align-left">
            <h4>How many titles do you want to retreive?</h4>
            <select class="form-select titles-count">
                <option value="1">1</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
            </select>
        </section>
        <button type="submit" name="search" class="btn btn-primary search-btn">Search</button>
    </form>
</div>
<div class="search-result">
    <table class="search-result-table hide">
        <thead>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>ISBN</th>
            <th>Year</th>
            <th>Action</th>
        </thead>
        <tbody class="search-result-data">
        </tbody>
    </table>
    <p class="no-result hide">No matching books found.</p>
</div>

{{> footer}}