<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Book Nest</title>
  </head>

  <body>
    <header>
      <h1>Book Nest</h1>
    </header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link ms-2" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-2" aria-current="page" href="/">View Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-2 me-1" href="/find">Find a book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ms-2 me-1" href="/profile">Share a book</a>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      {{! add body elements here via handlebars }}
      {{{body}}}
    </main>
  </body>
  <footer>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link ms-2" aria-current="page" href="/">Back</a>
          </li>
          <li class="nav-item">
            {{! User must be logged in to view and access My profile }}
            <a class="nav-link ms-2" aria-current="page" href="/">My Profile</a>
          </li>
          <li class="nav-item">
            {{#if loggedIn}}
              <button id="logout" class="btn btn-link">Logout</button>
            {{else}}
              <a class="nav-link" href="/login">Login</a>
            {{/if}}
          </li>
        </ul>
      </div>
    </nav>
  </footer>
  {{#if loggedIn}}
    <script src="/js/logout.js"></script>
  {{/if}}

</html>