{{> header }}
<header>
  <h1>Book Nest</h1>
</header>
<nav class="navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link ms-2" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2" aria-current="page" href="/viewMyBooks/1">View My Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2 me-1" href="/books">Find a book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2 me-1" href="/shareBook">Share book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2 me-1" href="/dashboard">update a book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2 me-1" href="/showLogin">Login</a>
      </li>
    </ul>
  </div>
</nav>
<main>
  {{!-- add body elements here via handlebars --}}
  {{{body}}}
</main>


<div class="find-book">
  <form class="d-flex find-book-form">
    <div class="error-msg"></div>
    <input class="form-control me-2 search-input" type="search" placeholder="Enter name of the book" name="search"
      aria-label="Search">
    <button class="btn btn-outline-light" type="submit">Search</button>
  </form>
</div>

<hr>


<!-- Adoption section -->
<div class="row text-white pillarsOfContent">
  <div class="adopt col-lg-2 col-sm-4">
    <P class="border-bottom p-2 mb-3" data-id="aboutus">ABOUT US</P>
    <P class="border-bottom p-2 mb-3" data-id="howTo">START YOUR JOUNREY</P>
    <P class="border-bottom p-2 mb-3" data-id="win">WIN</P>
  </div>
  <div class="item col-lg-9  ">
    <div class="aboutus active sideArticleNav" id="aboutus">
      <h1>About Book-ness</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa id, laborum numquam aliquid quos quisquam
        quidem ratione nostrum veniam quae facilis. Dolorum ipsam reiciendis soluta totam ipsum. Ipsum, odio
        aliquid.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa id, laborum numquam aliquid quos quisquam
        quidem ratione nostrum veniam quae facilis. Dolorum ipsam reiciendis soluta totam ipsum. Ipsum, odio
        aliquid.
      </p>
    </div>
    <div class="howTo sideArticleNav" id="howTo">
      <h1>How To Become An Author</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
    </div>
    <div class="win sideArticleNav" id="win">
      <h1>Bookness Compeititon</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa id, laborum numquam aliquid quos quisquam
        quidem ratione nostrum veniam quae facilis. Dolorum ipsam reiciendis soluta totam ipsum. Ipsum, odio
        aliquid.
      </p>
    </div>
  </div>
</div>




<hr>


<div class="row">
  <div class="col-sm-10">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Random Book Selection</h5>
        <div></div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card quiz-section">
      <div class="card-body">
        <h5 class="card-title">BirdNess Quiz</h5>
        <p>Attempt Book-ness quiz</p>
        <ul>
          <li>
            <a href="#" class="link-success">Harry Potter</a>
          </li>
          <li>
            <a href="#" class="link-success">Lord Of The Rings</a>
          </li>
          <li>
            <a href="#" class="link-success">Matilda</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<hr>


<div class="container">
  <div class="row">
    <div class="col-sm">
      API 1
    </div>
    <div class="col-sm">
      API2
    </div>
    <div class="col-sm">
      API3
    </div>
  </div>
</div>



<script src="/js/main.js"></script>
</body>
<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link ms-2" aria-current="page" href="/">Back</a>
        </li>
        <li class="nav-item">
          {{!-- User must be logged in to view and access My profile --}}
          <a class="nav-link ms-2" aria-current="page" href="/">My Profile</a>
        </li>
        <li class="nav-item">
          {{#if loggedIn}}
          <button id="logout" class="btn btn-link">Logout</button>
          {{else}}
          <a class="nav-link" href="/login">Login</a>
          {{/if}}
        </li> -->
      </ul>
    </div>
  </nav>
</footer>
{{!-- {{#if loggedIn}}
<script src='/js/logout.js'></script>
{{/if}} --}}

</html>