{{> header }}
<header>
  <h1>Book Nest</h1>
</header>
<nav class="navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link ms-2" aria-current="page" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2" aria-current="page" href="/viewMyBooks/1">View My Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2 me-1" href="/books">Find a book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2 me-1" href="/shareBook">Share book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2 me-1" href="/dashboard">update a book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link ms-2 me-1" href="/showLogin">Login</a>
      </li>
    </ul>
  </div>
</nav>
<main>
  {{!-- add body elements here via handlebars --}}
  {{{body}}}
</main>




<script src="/js/main.js"></script>
</body>
<footer>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link ms-2" aria-current="page" href="/">Back</a>
        </li>
        <li class="nav-item">
          {{!-- User must be logged in to view and access My profile --}}
          <a class="nav-link ms-2" aria-current="page" href="/">My Profile</a>
        </li>
        <li class="nav-item">
          {{#if loggedIn}}
          <button id="logout" class="btn btn-link">Logout</button>
          {{else}}
          <a class="nav-link" href="/login">Login</a>
          {{/if}}
        </li> -->
      </ul>
    </div>
  </nav>
</footer>
{{!-- {{#if loggedIn}}
<script src='/js/logout.js'></script>
{{/if}} --}}

</html>