<div>
  <form action="/find" method="get">
    <input type="input" name="title" />
    <button>Find a Book</button>
  </form>
</div>
<div>
  {{#each books as |book|}}
    <p>{{book.title}}</p>

  {{/each}}
</div>

{{#if error}}
  <div class="text-danger">{{error}}</div>

{{/if}}