<div class="container">
  <div class="row ms-1 pt-3 pb-3">
    <div class="col-6 mt-2">
      <h2>Welcome to Book Nest</h2>
      <p>Book Nest is where readers find new ebooks, book owners share their
        ebooks, and authors publish their ebooks. And its all free!
        <a href="/view-books">View all our ebooks</a>
        {{! update link to javascript }}
      </p>
    </div>
    <div class="col-2 ps-3">
      <div>
        <a
          type="button"
          class="btn btn-custom btn-outline-primary btn-block mt-3 mb-1 w-100"
          href="/login"
        >Login to your Book Nest</a>
      </div>
      <div>
        {{! update click on button to javascript }}
        <a
          type="button"
          class="btn btn-custom btn-outline-primary btn-block mt-2 mb-1 w-100"
          href="/find"
        >Find a book</a>
        {{! <button type="button" class="btn btn-outline-primary mt-2">Find a book</button> }}
      </div>
    </div>
  </div>

</div>
<script src="/js/homePage.js"></script>