<div class="container">
  <div class="row ms-1 pt-3 pb-3">
    <div class="col-6 col-sm-8 col-md-8 mt-2">
      <h2>Welcome to Book Nest!</h2>

      <p>Book Nest is a charming little community for those who love to read.
        Collections of e-books are here and waiting for you to check them out
        now!</p>

      <p>Find your new favourite book or share a story you have written. Readers
        and writers are all welcome here.</p>

      <p>The best thing about Book Nest is: It's free!</p>

      <p><a href="/view-books">View all our ebooks here</a>
        {{! update link to javascript }}
      </p>
    </div>
    <div class="col-6 col-sm-4 col-md-2 ps-3">
      <div>
        <a
          type="button"
          class="btn btn-custom btn-outline-primary btn-block mt-3 mb-1 w-100"
          href="/login"
        >Login to your Book Nest</a>
      </div>
      <div>
        {{! update click on button to javascript }}
        <a
          type="button"
          class="btn btn-custom btn-outline-primary btn-block mt-2 mb-1 w-100"
          href="/find"
        >Find a book</a>
        {{! <button type="button" class="btn btn-outline-primary mt-2">Find a book</button> }}
      </div>
    </div>
  </div>

</div>
{{! <script src="/js/homepage.js"></script> }}