{{! page render: login }}
{{! login form and signup form are side by side }}

<div class="container">
  {{! login }}
  <div class="row justify-content-center">
    <div class="col-8 col-md-6 col-lg-4 mt-5 me-3 p-3 transparent-white">
      <h2 class="mb-3">Login</h2>
      <p>If you have an existing account, please log in with your email address.</p>
      <form id="login-form">
        <div class="row">
          <div class="col-3">
            <label for="email-login">Email:</label>
          </div>
          <div class="col-auto">
            <input type="text" id="email-login" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <label for="password-login">Password:</label>
          </div>
          <div class="col-auto">
            <input type="password" id="password-login" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-auto">
            <button class="btn btn-custom w-100" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>

    {{! sign up }}
    <div class="col-8 col-md-6 col-lg-4 mt-5 ms-3 p-3 transparent-white">
      <h2 class="mb-3">Sign Up</h2>
      <p>If you are a new user, please sign up using the form below.</p>
      <form id="signup-form">
        <div class="row">
          <div class="col-3">
            <label for="username-signup">Username:</label>
          </div>
          <div class="col-auto">
            <input type="text" id="username-signup" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <label for="email-signup">Email:</label>
          </div>
          <div class="col-auto">
            <input type="text" id="email-signup" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <label for="password-signup">Password:</label>
          </div>
          <div class="col-auto">
            <input type="password" id="password-signup" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-auto">
            <button class="btn btn-custom w-100" type="submit">Sign Up</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<script src="/js/login.js"></script>