<div class="container">
  <div class="row justify-content-center">

    <div class="col-8 col-md-6 col-lg-4 mt-5 me-3 p-3 transparent-white">
      <h2 class="mb-3">Login</h2>
      <p>If you have an existing account, please log in with your email address.</p>
      <form id="login-form">
        <div class="row">
          <div class="col-3">
            <label for="email-login">Email:</label>
          </div>
          <div class="col-auto">
            <input type="text" id="email-login" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <label for="password-login">Password:</label>
          </div>
          <div class="col-auto">
            <input type="password" id="password-login" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-auto">
            <button class="btn btn-custom w-100" type="submit">Login</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-8 col-md-6 col-lg-4 mt-5 ms-3 p-3 transparent-white">
      <h2 class="mb-3">Sign Up</h2>
      <p>If you are a new user, please sign up using the form below.</p>
      <form id="signup-form">
        <div class="row">
          <div class="col-3">
            <label for="username-signup">Username:</label>
          </div>
          <div class="col-auto">
            <input type="text" id="username-signup" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <label for="email-signup">Email:</label>
          </div>
          <div class="col-auto">
            <input type="text" id="email-signup" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <label for="password-signup">Password:</label>
          </div>
          <div class="col-auto">
            <input type="password" id="password-signup" />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-auto">
            <button class="btn btn-custom w-100" type="submit">Sign Up</button>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<script src="/js/login.js"></script>

{{! <section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <h2>Login</h2>
        <p class="form-msg">Fields marked with * are required</p>
        <form class="input-form login-form">
          <!-- Email input -->
          <div class="form-outline mb-4">
            <label for="email">Email:<span class="required">*</span></label>
            <input
              type="email"
              id="form3Example3"
              class="form-control form-control-lg"
              placeholder="Enter your email address"
            />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label for="password">Password:<span
                class="required"
              >*</span></label>
            <input
              type="password"
              id="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
            />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="submit"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;"
            >Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
              <a href="/showRegister" class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary"
  >
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->

  </div>
</section>

<script src="/js/login.js"></script> }}