{{! page render: logout }}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-md-6 col-lg-4 mt-5 me-3 p-3 transparent-white">
      <h2 class="mb-3">Log out successful!</h2>

      <p>Thank you for using Book Nest! See you next time.</p>

      <a class="btn btn-custom btn-block mt-3 mb-3 w-100" href="/">Return to
        Home</a>

    </div>
  </div>
</div>