<div class="row ms-5 me-5 p-1">
  <h3 class="mt-3">Share a book</h3>

  <p>A library isn't a library unless it has books!</p>

  <form id="share-book-form">
    <div class="form-group mt-3 m-1">
      <label for="title-input">
        <h5>Book title:</h5>
      </label>
      <input
        type="text"
        class="form-control"
        id="title-input"
        placeholder="Book title"
        aria-describedby="bookTitle"
      />
    </div>
    <div class="form-group mt-3 m-1">
      <label for="author-input">
        <h5>Book author:</h5>
      </label>
      <input
        type="text"
        class="form-control"
        id="author-input"
        placeholder="Book author"
        aria-describedby="bookAuthor"
      />
    </div>
    <div class="form-group mt-3 m-1">
      <label for="publication-input">
        <h5>Publication year:</h5>
      </label>
      <input
        type="text"
        class="form-control"
        id="publication-input"
        placeholder="Publication year"
        aria-describedby="publication-year"
      />
    </div>
    {{! genre select }}
    <div class="form-group mt-3 m-1">
      <label for="genre-input">
        <h5>Select which genre the book belongs to:</h5>
      </label>
      <select
        id="genre-input"
        class="form-select form-select-sm mb-3"
        aria-label=".form-select-sm"
      >
        <option selected>Open this select menu</option>
        <option value="1">Comedy</option>
        <option value="2">Fantasy</option>
        <option value="3">Graphic Novels</option>
        <option value="4">High Brow Literature</option>
        <option value="5">Historical</option>
        <option value="6">Horror</option>
        <option value="7">Mystery</option>
        <option value="8">Non Fiction</option>
        <option value="9">Romance</option>
        <option value="10">Sci Fi</option>
      </select>
    </div>
    <button
      type="submit"
      class="btn btn-lg btn-custom btn-outline-primary btn-block mt-3 m-1"
    >Add that book to Book Nest!</button>
  </form>
</div>

<script src="/js/shareBook.js"></script>