<div class="container">
  <div class="row mx-5 justify-content-md-center">

    <div
      class="col-12 col-md-8 col-lg-6 my-4 p-3 text-center transparent-white"
    >
      <h2 class="mb-3">The Book Nest</h2>
      <p>Take a look at all of our available books. If one of them piques your
        interest, click on the card to bring up the details of the book. There,
        you can add it to your reading list.</p>
    </div>
  </div>

  <div class="row mx-5 justify-content-md-center">

    {{#each books as |book|}}

      {{! for each card, present it using this bootstrap card format }}
      <div class="col-12 col-md-4 col-lg-3 my-3">
        <a href="/books/{{book.id}}" class="book-link">
          <div class="card h-100 w-100 custom-card-border">
            <div class="card-header">
              <h5>
                <i class="bi bi-book icon-purple"></i>
                {{book.title}}
              </h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Author:
                <span class="normal-weight">
                  {{book.author}}
                </span>
              </li>
              <li class="list-group-item">
                Genre:
                <span class="normal-weight">
                  {{book.genre.genre_title}}
                </span>
              </li>
            </ul>
          </div>
        </a>
      </div>

    {{/each}}

  </div>
</div>