:root {
  --pink: #ff497b;
  --dark-blue: #3071f2;
  --light-blue: #1e90ff;
  --grey: #a7b3b5;
  --brown: #a1896c;
}

.border-red {
  border: 1px solid red;
}

.border-blue {
  border: 1px solid blue;
}

.border-orange {
  border: 1px solid orange;
}
